.Header {
    padding: 5px 0;
    height: 40px;
    background-color: var(--dark-blue-grey);
    box-shadow: 0 -1px 5px 1px var(--box-shadow-color);
}

.Header [class="logo"] {
    fill: var(--highlight-color);
    height: 100%;
    width: 10%;
    min-width: 80px;
    vertical-align: middle;
    display: inline-block;
}

.Title {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    margin: 0 0 0 10px;
    color: var(--highlight-color);
}

@media (min-width: 400px) {
    .Header {
        height: 60px;
    }
    .Title {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .Header {
        height: 80px;
        padding-left: 30px;
    }
    .Title {
        font-size: 35px;
        margin-left: 30px;
    }
}
