.Main {
    padding: 0 20px;
}

.SearchResults {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.NoResultsMessage {
    margin: 40px 0;
    text-align: center;
    font-size: 35px;
}

.NoResultsMessage .SearchTerm {
    font-style: italic;
    color: var(--highlight-color);
}

.LoadMore {
    margin-top: 30px;
}

@media (min-width: 400px) {
    .Main {
        padding: 0 40px;
    }
}

@media (min-width: 768px) {
    .Main {
        padding: 20px 60px;
    }
}

@media (min-width: 1200px) {
    .Main {
        max-width: 1200px;
        margin: auto;
    }
}
