.ImageViewContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2000;
}

.ImageView {
    max-width: 80%;
    margin: 50px auto;
    position: relative;
    font-size: 0;
}

.ImageView img {
    width: 100%;
}

.ImageViewNavButton {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    color: rgba(255, 255, 255, 0.1);
    font-size: 60px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.ImageViewNavButton:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.2);
}

.ImageViewNavButton:focus {
    box-shadow: none;
    background-color: transparent;
}

.PrevImage {
    left: 0;
    text-align: left;
}

.NextImage {
    right: 0;
    text-align: right;
}

.CloseImageViewButton {
    position: absolute;
    top: 20px;
    right: 10%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.CloseImageViewButton:hover svg {
    fill: #fff;
}

.CloseImageViewButton svg {
    width: 100%;
    height: 100%;
}
