.SearchResult {
  min-height: 300px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.ImageContainer {
  position: relative;
  overflow-y: hidden;
}

.ResultTitle {
  margin-top: 0;
}

.CardContent.CardContent {
  padding-bottom: 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.Overview {
  overflow: hidden;
  line-height: var(--line-height);
  height: calc(var(--line-height) * 6);
}

.KnownForList {
  margin-top: 10px;
  padding: 5px 0;
  height: 200px;
  overflow-y: auto;
  flex-grow: 1;
}

.ShowMoreToggle {
  color: var(--highlight-color);
  position: absolute;
  padding-left: 24px;
  bottom: 10px;
}

.DetailsLabel {
  font-weight: bold;
}

@media (min-width: 640px) {
  .SearchResult {
    flex-basis: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media (min-width: 960px) {
  .SearchResult {
    flex-basis: 31.33%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
