.KnownForEntry {
  cursor: pointer;
  color: var(--body-text-color);
}

.DetailsLabel {
  font-weight: bold;
}

.Content.Content {
  padding: 10px 24px;
}

p.Title.Title {
  margin: 5px 0 0 0;
  font-size: 20px;
}
