.UserSection {
    height: 34px;
    width: 34px;
    right: 20px;
    top: 8px;
    position: absolute;
}

.LoginIcon {
    height: 100%;
    width: 100%;
    fill: var(--light-text-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginIcon:hover {
    fill: var(--highlight-color);
}

.LoginIcon svg {
    height: 60%;
    max-height: 30px;
}

.UserAvatarContainer {
    height: 100%;
    position: relative;
}

.UserAvatar {
    height: 100%;
    border-radius: 50%;
    border: 2px solid var(--highlight-color);
    cursor: pointer;
}

.LogoutPopup {
    position: absolute;
    width: 80vw;
    max-width: 250px;
    right: 0;
    background-color: var(--dark-blue-grey);
    color: var(--light-text-color);
    padding: 20px ;
    z-index: 2000;
    font-size: 12px;
    border-radius: 5px;
}

.LogoutButton {
    display: block;
    width: 100px;
    margin: auto;
}

.CloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.CloseButton svg {
    width: 100%;
    height: 100%;
}

@media (min-width: 400px) {
    .UserSection {
        height: 44px;
        width: 44px;
    }
}

@media (min-width: 768px) {
    .UserSection {
        height: 56px;
        width: 56px;
        top: 12px;
    }
}
