.SearchResults {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.NoResultsMessage {
  margin: 40px 0;
  text-align: center;
  font-size: 35px;
}

.NoResultsMessage .SearchTerm {
  font-style: italic;
  color: var(--body-text-color);
}

.LoadMore {
  margin-top: 30px;
}

@media (min-width: 1200px) {
  .Main {
    max-width: 1400px;
    margin: auto;
  }
}
