@font-face {
    font-family: 'Chow Fun';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/chow-fun.ttf');
}

body {
    margin: 0;
    font-family: 'Roboto', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.scroll-lock {
    overflow: hidden;
}

/*
    Google font candidates for the app title:

    font-family: 'Calligraffitti', cursive;

    font-family: 'Dynalight', cursive;

    font-family: 'Euphoria Script', cursive;

    font-family: 'Felipa', cursive;

    font-family: 'Flamenco', cursive;

    font-family: 'Italianno', cursive;

    font-family: 'Tangerine', cursive;


    <link href="https://fonts.googleapis.com/css?family=Calligraffitti|Dynalight|Euphoria+Script|Felipa|Flamenco|Italianno|Tangerine&display=swap" rel="stylesheet">

    better to use 'typeface-{font-name}' npm packages for adding fonts
*/
